section {
    padding: 90px 0;
}

.primary-section {
    background-position: center center;
    background-size: cover;
}

.secondary-section {
    span {
        display: block;
    }
}

.no-pad {
    padding: 0;
}
